#cataloguing-header {
    height: 10rem;
    border: black solid 1px;
}

#cataloguing-container {
    height: 100%;
}

label {
    margin-bottom: 0;
}

input,
select {
    height: 23px;
}

.info-icon {
    cursor: pointer;
    font-size: 17px;
    /* Adjust size as needed */
}

h3 {
    font-size: 1.2rem;
}

#unknownNameSelect {
    display: none;
}

/* .unknown-name-span,
.preferred-name-span,
.secondary-name-span,
.years-span,
.enslaved-span {
    display: none;
} */

.last-name-section,
.first-name-section,
.middle-name-section,
.additional-names-section,
.title-section,
.years-section,
.enslaved-section,
.title-section {
    display: flex;
    flex-direction: column;
}

/* .check-boxes {
    display: none;
} */

.custom-btn {
    border-radius: 50px;
    padding: .2rem .35rem;
}

.fa-style {
    font-size: 12px;
    position: relative;
    left: .035rem;
    top: .05rem;
}

#middleInitialInput,
#suffixInput,
#firstInitialInput {
    height: 0;
    width: 0;
    opacity: 0;
}